@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Goblin+One&family=Nunito:wght@200&family=Poppins:wght@300&family=Righteous&family=Roboto+Slab&family=Rubik:wght@300&family=Sarala&display=swap');

* {
    margin:0;
    padding:0;
}

body {
    font-family:'Nunito', sans-serif;
    font-size:17px;
    background-color:var(--color7);
}

:root {
    --color1:#05445E;
    --color2:#189AB4;
    --color3:#75E6DA;
    --color4:#D4F1F4;
    --color5:#D2E5E0;
    --color6:#D9C9A0;

    --color7:#F5FAFA;
    --color8:#efecec;
    --color9:#5b9fe3;
}

.wrapper {
    width:100%;
    height:100vh;
    background-color:var(--color7);
    display:flex;
    justify-content:center;
    background-image:url('/img/background.png');
    background-repeat: no-repeat;
}

/*.wrapper {
    display:flex;
    justify-content:center;
    background-image:url('/img/background.png');
    background-repeat: no-repeat;
}*/

.wrapper > #content {
    position:absolute;
    width:100%;
    height:100%;
    margin-top:120px;
    
    display:flex;
    flex-direction:column;
}

.wrapper > #content > #taskInput {
    width:50%;
    height:60px;
    align-self:center;
    /*border-radius:6px;*/
    background-color:var(--color8);
    border:none;
}

.wrapper > #content > #taskOutput {
    width:50%; 
    height:320px; /*320px*/
    align-self:center;
    /*border-top-right-radius:6px;
    border-top-left-radius:6px;*/
    margin-top:15px;
    background-color:#ffffff;
    -webkit-box-shadow: 1px 5px 39px 5px rgba(0,0,0,0.35); 
    box-shadow: 1px 5px 39px 5px rgba(0,0,0,0.35);
    
    overflow-y:auto;
    transition:all 0.3s;
}

.wrapper > #content > #taskInput > form {
    width:100%;
    height:auto;
    /*border-radius:6px;*/
    display:flex;
    justify-content: center;
    /*justify-content: space-between;*/
}

.wrapper > #content > #taskInput > form > #addTask {
    display:none;
}

.wrapper > #content > #taskInput > form > #slideLeft {
    display:none;
    margin-right:5px;
}

.wrapper > #content > #taskInput > form > #input {
    width:0;
    height:60px;
    text-indent:30px;
    font-size:17px;
    outline:none;
    border:none;
    /*border-radius:6px;*/
    transition:all 0.3s;
    margin-right:5px;
}

.wrapper > #content > #taskInput > form > button {
    width:10%;
    height:60px;
    font-size:14px;
    border:none;
    /*border-radius:6px;*/
    cursor:pointer;
    background-color:#ffffff;
}

#taskSettings {
    width:50%;
    height:50px;
    background-color:#ffffff;
    align-self:flex-end;
    display:flex;
    align-self:center;
    /*border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;*/
    -webkit-box-shadow: -4px 4px 22px -9px rgba(0,0,0,0.53); 
box-shadow: -4px 4px 22px -9px rgba(0,0,0,0.53);
    font-size:15px;
}

#taskSettings > .options {
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    justify-content:space-evenly;
    background-color:#ffffff;
}

#taskSettings > .options > .buttons {
    cursor:pointer;
    transition:all 0.3s;
}

#taskSettings > .options > .fa-refresh {
    background-color:inherit;
    font-size:20px;
}

#taskSettings > #remainingItems {
    border-bottom-left-radius:6px;
    border-top:1px solid #efecec;
    border-right:1px solid #efecec;
}

#taskSettings > #showCertainItems {
    border-bottom-left-radius:6px;
    border-top:1px solid #efecec;
    border-right:1px solid #efecec;
}

#taskSettings > #clearItems {
    border-bottom-right-radius:6px;
    border-top:1px solid #efecec;
}

.wrapper > #content > #taskOutput > #list > #item {
    width:auto;
    height:50px;
    list-style-type:none;
    display:flex;
    justify-content: space-around;
    align-items:center;
    border-bottom:1px solid var(--color5);
}

.wrapper > #content > #taskOutput > #list > #item > .text {
    font-weight:bold;
    font-size:20px;
    width:70%;
    /*text-decoration:line-through;*/ /* Use Later */
}

.wrapper > #content > #taskOutput > #list > #item > .clear {
    width:auto;
    height:auto;
    margin:0 auto;
    font-size:20px;
    cursor:pointer;
    display:flex;
    transition:all 0.2s ease-in-out;
}

.wrapper > #content > #taskOutput > #list > #item > .clear:hover {
    color:red;
}

.fa-check-circle{
    color:#6eb200;
}

.lineThrough {
    text-decoration:line-through;
    color : #ccc;
}

/*#closeDiv:after {
    display:inline-block;
    content:"\00d7";
}*/

/*.wrapper > #content > #taskOutput > #task_div > #form {
    width:10%;
    display:flex;
    justify-content:center;
}*/

.wrapper > #content > #taskOutput > #list > #item > .fa-circle-thin {
    width:80px;
    font-size:20px;
    text-align:center;
}

.wrapper > #content > #taskOutput > #list > #item > .fa-check-circle {
    width:80px;
    font-size:20px;
    text-align:center;
}

.popUp { 
    position:absolute;
    width:30%;
    height:50px;
    background-color:var(--color9);
    margin-top:30px;
    /*border-radius:6px;*/
    border:none;
    transition:all 0.3s;
    opacity:0;
    background-color:var(--color2);
    display:flex;
    align-items: center;
    justify-content:center;
    color:var(--color8);
}

.popUp_2 { 
    position:absolute;
    width:30%;
    height:50px;
    background-color:var(--color9);
    margin-top:30px;
    /*border-radius:6px;*/
    border:none;
    transition:all 0.3s;
    opacity:0;
    background-color:var(--color2);
    display:flex;
    align-items: center;
    justify-content:center;
    color:var(--color8);
}

.removed {
    display:none;
}

#counter {
    font-size:20px;
}

@media screen and (max-width:1246px) { /*1050px*/
    #taskSettings {
        width:95%; 
        height:auto;
    }

    .wrapper > #content > #taskOutput {
        width:95%;
        height:390px;
    }

    .wrapper > #content > #taskInput {
        width:95%;
    }

    .popUp {
        width:70%;
    }

    .popUp_2 {
        width:70%;
    }
}

@media screen and (max-width:486px) {
    .wrapper > #content > #taskInput > form > #taskInputText {
        font-size:15px;
        text-indent:15px;
    }

    #taskSettings > .options > p {
        font-size:10px;
        text-align:center;
    }

    #taskSettings > .options > h3 {
        font-size:12px;
    }
}

@media screen and (max-width:400px) {
    .wrapper > #content > #taskInput > form > #taskInputText {
        font-size:12px;
        text-indent:15px;
    }
}